# =====================
# Node / Next.js
# =====================

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# =====================
# C# / .NET
# =====================

# Build results
bin/
obj/
[Rr]elease/
[Dd]ebug/
x64/
x86/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates
*.vcxproj.user

# Mono
*.pidb
*.svd

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# Resharper
_ReSharper*/
*.DotSettings.user

# NuGet
*.nupkg
packages/
.nuget/

# Entity Framework / Migrations
Migrations/
